@import "../../styles/colors.scss";
@import "../../styles/typography.scss";

.wrapper {
  margin: 0;
  width: 100%;
}

.parallax {
  position: relative;
  width: 100%;
  height: 120vh;
  background-image: url('./s1.avif');
  background-size: cover;


  .mask {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
    mask: url('./subtract2.png');
    background: linear-gradient(to left bottom,#c612ad, #ffe8b9);
    mask-size: cover;
    -webkit-mask: url('./subtract2.png');
    mask-repeat: no-repeat;
    -webkit-mask-size: cover;
  }

  span {
    text-align: center;
    top: 30vh;
    position: sticky;
    z-index: 1;
    color: white;
    font-size: 120px;
    width: 100%;
    background: linear-gradient(to left bottom, #002db0, #6827b3, #9b1eb2, #c612ad, #eba312);
  }
}

.content {
  width: 100%;
  height: 200vh;
  position: relative;
  top: 15vh;
  p {
    @extend %body-lg;
    position: sticky;
    color: white;
    width: 45%;
    margin: 5rem 3rem;
  }
  p::selection {
    background:#002db0; 
  }
  .second {
    background: #121212;
    position: relative;
    top: 20vh;
    width: 70%;
    height: 25vh;
    border-radius: 3rem;
    padding: 2rem 0;
    p {
      width: 100%;
      margin: 1rem 3rem;
    }
  }
}